    <h4>Register for an account</h4>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-group-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="input-group-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="input-group-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <%= f.submit "Log in", class: "button expanded" %>
  <% end %>
  </form>

  <%= render "devise/shared/links" %>
